{{#extend "main"}}
{{#block "content"}}
    <h1>Your Dashboard</h1>
    <a href="/posts/new">Create New Post</a>
    {{#each userPosts}}
        <div class="post">
            <h3>{{this.title}}</h3>
            <p>{{truncate this.body 120}}</p>
            <a href="/posts/edit/{{this.id}}">Edit</a>
            <button onclick="deletePost({{this.id}})">Delete</button>
        </div>
    {{else}}
        <p>You haven't created any posts yet.</p>
    {{/each}}
{{/block}}
{{/extend}}
